@charset "UTF-8";

button {
	background-color: inherit;
	border-radius: 2500rem;
}

.c_btn_pri {
    background-color: #1668E3;
    color: #FFFFFF;
    border-radius: 2500rem;
}
.c_btn_pri:hover {
    background-color: #0D4EAF;
    color: #FFFFFF;
}

.c_btn_teri {
	background-color: rgba(255, 255, 255, 0);
    color: #1668E3;
    border-radius: 2500rem;
}
.c_btn_teri:hover {
    background-color: #ECF4FD;
    color: #1668E3;
}

.c_btn_lg {
    font-size: 1rem;
    line-height: 1.25rem;
    min-block-size: 3.25rem;
 /*   padding: 0.25rem 1rem; */
}

.c_btn {
    align-items: center;
    border-radius: 2500rem;
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    display: inline-flex;
    flex-wrap: nowrap;
    font-weight: 500;
    justify-content: center;
    -webkit-tap-highlight-color: transparent;
    text-shadow: none;
    width: 100%;
}
.c_h3_head5 {
	font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5rem;
}
.c_h3_head6 {
	font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;
}    
.c_h1_head3 {
	font-size: 2.25rem;
    font-weight: 500;
    line-height: 2.5rem;	
}
.c_h2_head4 {
	font-size: 1.75rem;
    font-weight: 500;
    line-height: 2rem;
}
.c_content_txt {
	font-size: 0.875rem;
    line-height: 1.125rem;
}
.c_txt_sm {
	font-size: 0.75rem;
    line-height: 1rem;
}
    
.c_li_dot {	
	list-style-type: disc; 
	list-style-position : inside;
}
.img_index_btn {
	border: solid 1px grey;
    border-radius: 10rem;
    padding: 0.5rem;
    height: 1.875rem;
    display: flex;
}
.img_index_btn:hover {
	cursor: pointer;
	background-color: #ecf4fd;
}

.c_border_btm {
	border-bottom: solid 1px #dfe0e4;
}

.c_border_all {
	border: solid 1px #dfe0e4;
	border-radius: 1rem;
}

.c_modalContainer {
	position: fixed; /* Stay in place */
	z-index: 101; /* Sit on top */
	padding-top:8vh; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: hidden; /* Enable scroll if needed */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	display: none;
}
.c_modalWrap {
	min-width: 32.5rem;
    max-width: 45rem;
    height: 84vh;
	margin: 0 auto;
	border-radius: 1rem;
	background-color: #fff;
}

.c_modalContainer_sm {
	position: fixed; /* Stay in place */
	z-index: 101; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: hidden; /* Enable scroll if needed */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	display: none;
}
.c_modalWrap_sm {
	min-width: 32.5rem;
    max-width: 45rem;
	margin: auto;
	border-radius: 1rem;
	background-color: #fff;
}

.c_modalWrap_xsm {
	min-width: 17.5rem;
    max-width: 30rem;
	margin: auto;
	border-radius: 1rem;
	background-color: #fff;
}


.c_text_link_m {
	font-size: 0.875rem;
    gap: 0.25rem;
    line-height: 1.125rem;
    color: #1668e3;
}
.c_text_link_m:hover {
	cursor: pointer !important;
}

.c_text_link_m:hover {
	text-decoration: underline;
}
.c_input, .c_select, .c_textarea {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    border: 1px solid #818494;
    border-radius: 0.5rem;
    color: #191e3b;
    font-size: 1rem;
    font-weight: 400;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    width: 100%;    
}

.c_input, .c_input, .c_select, .c_textarea {
    --egds-legacy-background-color: #FFFFFF;
    --egds-legacy-border-color: #818494;
    --egds-legacy-color: #191E3B;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--egds-surface, var(--egds-legacy-background-color));
    border: 1px solid var(--egds-outline, var(--egds-legacy-border-color));
    border-radius: 0.5rem;
    color: var(--egds-on-surface, var(--egds-legacy-color));
    font-size: 1rem;
    font-weight: 400;
    inline-size: 100%;
    line-height: 1.25rem;
    -webkit-padding-end: calc(0.75rem - 1px);
    padding-inline-end: calc(0.75rem - 1px);
    -webkit-padding-start: calc(0.75rem - 1px);
    padding-inline-start: calc(0.75rem - 1px);
}

.c_invalid {
	border-color: #e61e43;
    box-shadow: inset 0 0 0 1px #e61e43;
    outline: none;	
}

.c_valid {
	border-color: #1668E3;
    box-shadow: inset 0 0 0 1px #1668E3;
    outline: none;	
}

.c_label {
	font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.3rem;
    color: #191e3b;
    margin: 0 0.75rem;
    pointer-events: none;
    position: absolute;
    transform-origin: left top;
    transition: all 0.1s ease-in-out;
    white-space: nowrap;
}

.c_input, .c_select {
    min-height: 3rem;
    padding-top: 1rem;
    min-block-size: 3rem;
    -webkit-padding-before: 1rem;
    padding-block-start: 1rem;
}

.c_input, .c_textarea {
    cursor: text;
}

.c_placeholder_div {
	position: relactive;
}
.c_placeholder_text {
	margin: 0;
	padding-left: 0.5rem;
	position: absolute;
	}

.text_out {
	transform: scaleY(0);
}

.c_hide {
	display: none;
}
.c_fix {
   	 position: fixed;
   	 top: 0;
   	 width:100%;
   	 max-width: 75rem; 
}

h2 {
    font-size: 2rem;
}
.c_container_w {
	background-color: white; 
	padding:1.5rem;
	border-radius: 1rem;
}
.c_it_container_w {
	background-color: white;
	border-radius: 1rem;
}

.c_flex {
	display: flex;
}
.c_flex_nowrap {
	flex-wrap: nowrap;
}
.c_grid {
	display: grid;	
}
.c_grid_c3 {
	display: grid;	
	grid-template-columns: repeat(3, 1fr);
	gap: 1.5rem;
}
.c_grid_c3_it1 {
	grid-columns: 1;
}
.c_grid_c3_it2 {
	grid-columns: 2;
}
.c_grid_c3_it3 {
	grid-columns: 3;
}
.c_grid_c3_it23 {
	grid-column-start: 2;
	grid-column-end: 4;
}
.c_grid_c2{
	display:grid;
	grid-template-columns:1fr 1fr;
	gap: 1.5 rem;
}
.c_grid_c_it1{
	grid-columns: 1;
}
.c_grid_c_it2{
	grid-columns: 2;
}

.c_grid_c_1_2 {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 1.5rem;
}


.c_icon_16 {
	width: 16px;
	height: 16px;
}
.c_icon_18 {
	width: 18px;
	height: 18px;
}
.c_icon_24 {
	width: 24px;
	height: 24px;
}
.c_pd_b_15r {
	padding-bottom: 1.5rem;
}

.c_border_r1 {
	border-radius: 1rem;	
}
.c_t_border_r1 {
	border-radius: 1rem 1rem 0 0;
}
.c_pd_all_75 {
	padding: 0.75rem;
}
.c_radio_btn {
	line-height: 1.42857;
    padding-block-end: 0.5rem;
    padding-block-start: 0.5rem;
    padding-inline-start: 0.25rem;
}
.c_round_btn_blue {
	border-radius: 100%;
}
.c_round_btn_blue:hover {
	background-color: #c8dff9;
    color: #FFFFFF;
}

.c_radio_btn .c_radio_btn-label, .c_radio_btn .c_radio_btn-label .radio_btn_label_suffix {
    color: #191e3b;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
}

.c_flex_grow-1{
	flex-grow: 1;
}


.c_radio_btn input {
	width: 18px;
    height: 18px;
    margin: auto;
    margin-right: 6px;
}

.c_radio_btn input:checked+.c_radio_btn-control {
	background: #1668e3;
    block-size: calc(1.125rem - 2px);
    border-color: #1668e3;
    border-width: 0;
    box-shadow: 0 0 0 2px #1668e3, inset 0 0 0 2px #fff;
    inline-size: calc(1.125rem - 2px);
    margin-block-end: 0;
    margin-block-start: 0;
    margin-inline-end: calc(0.5rem + 2px);
    margin-inline-start: 0;	
}

.c_bold_header {
	font-size: 1.75rem;
    font-weight: 500;
    line-height: 2rem;
	color: #191e3b;
}
.site-header, .site-header-expanded, .sub-header, .c_txt-300 {
    font-size: 0.875rem;
    line-height: 1.125rem;
}

.c_guest_cnt_btn {
	border: solid 1px #818494;
	border-radius: 100%;
	block-size: 2rem;
	inline-size: 2rem;
}
.c_guest_cnt_btn:hover {
	background-color: #ecf4fd;
}